/* Featuredbooksslider Start  */

span {
    color: #AFAFAF;
    font-family: "Raleway", sans-serif;
    font-size: .9rem;
    font-weight: 600;
}

h1 {
    font-family: "Prata", Georgia, serif;
    font-weight: 500;
}

.bookslider .img_box {
    background-color: #EFEEE8;
    border: 1px solid #dcdbdb;
}

.add_cart {
    bottom: -43px;
    left: 61px;
    transition: all ease-in-out.4s;
}

.add_cart button {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: black;
}

.bookslider .text_box h6 {
    font-size: 1.3rem;
    font-family: "Prata", Georgia, serif;
    font-weight: 500;
    color: #74642F;
}

.bookslider .text_box p {
    line-height: 2rem;
    font-weight: 500;
    color: #8F8E8D;
    font-family: "Raleway", sans-serif;
}

.bookslider .text_box h5 {
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #74642F;
}

img {
    width: 100%;
    height: 100%;
}

.bookslider a:hover .add_cart {
    bottom: 0px;
}

.bookslider_hr {
    width: 100%;
    height: 1px;
    background-color: #8F8E8D;
}

.all_product .product_btn {
    color: #C5A992;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent !important;
    transition: all ease-in-out .4s;
}

.all_product .product_btn i {
    margin-left: .7rem;
    transition: all ease-in-out .4s;
}

.all_product .product_btn:hover i {
    margin-left: 1.2rem;
}

.all_product .product_btn:hover {
    color: black;
}